body{
    min-height: 100vh;
    background: url(../img/background.png) no-repeat;
    background-position: bottom left;
    background-size: contain;
}

#app{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.is-google{
    background: #EA4235;
    color:#f4f4f4;
}
.is-google:focus, .is-facebook:focus, .is-login:focus{
    color:#f4f4f4;
    
}
.is-google:active, .is-facebook:active, .is-login:active{
    transition: .3;
    transform: scale(0.99);
}
.is-google:hover{
   transform: scale(1.02);
   color: #f9f9f9;
   transition: .3s;
}
.is-google:active{
    transform: scale(0.99);
    transition: .3s;
}
.bs-google{
    box-shadow: 0px 4px 12px rgba(234, 66, 53, 0.35);
}



.is-facebook{
    background: #3B5999;
    color:#f4f4f4;
}
.is-facebook:hover{
    transform: scale(1.02);
    color: #f9f9f9;
    transition: .3s;
}
.bs-facebook{
    box-shadow: 0px 4px 12px rgba(59, 89, 153, 0.35);
}

.bs-login{
    box-shadow: 4px 4px 20px 1px rgba(255, 56, 96, 0.35);
}
.is-login:hover{
    transform: scale(1.02);
    color: #f9f9f9;
    transition: .3s;
}

.is-circle{
    width: 3rem;
    height: 3rem;
}